[2020-11-11 14:50] SteveMattar opened #15 "running `make clusters` fails"
When running `make clusters` the creation of kind clusters runs in parallel and causes a network ambiguity

[code]

[2020-11-12 02:57] #15 closed

[2020-11-23 12:31] MaxBab opened #22 "A connection between the clusters is not working with kind deployment"
After a deployment of a test environment with kind, the connection between the clusters is not working.
A test deployment has an errors on submariner-operator pod:

{"level":"error","ts":1606133404.3297968,"logger":"controller_submariner","msg":"failed to update the Submariner status","Request.Namespace":"submariner-operator","Request.Name":"submariner","error":"Submariner.submariner.io \"submarin

[2020-11-23 13:17] MaxBab commented on #22
Have the following message in the multiclusterservices.lighthouse.submariner.io crd

  Conditions:
    Last Transition Time:  2020-11-23T10:26:25Z
    Message:               no conflicts found
    Reason:                NoConflicts
    Status:                True
    Type:                  NamesAccepted
    Last Transition Time:  2020-11-23T10:26:25Z
    Message:               the initial names ha

[2020-11-23 14:05] dfarrell07 commented on #22
Per discussing a bit with @MaxBab on Slack, my suggestion is to consider building on/integrating Submariner's existing tooling to make maintenance/integration easier. We'd be glad to help with that.

[2020-12-13 01:01] giannisalinetti opened #28 "ACM setup fails to resolve DNS queries with NODATA results"
### Description
When the submariner-addon is installed on a RHACM with one hub and two managed clusters DNS resolution fails with NODATA results thus preventing correct communication among services.

### Envinronment
#### Hub Cluster
- Cluster name: local-cluster
- OCP version: 4.6.4
- RHACM version: 2.1
- Provider: AWS
- Control plane: 3x m5.xlarge
- Worker nodes: 3x m5.xlarge
- Installation meth

[2021-01-05 02:32] zhiweiyin318 commented on #28
@giannisalinetti  did you setup the gateway node for the 2 managed clusters?  please refer to https://submariner.io/getting-started/quickstart/openshift/aws/#prepare-aws-clusters-for-submariner if not.
we have changed a lot for submariner-addon in this release,  sorry for not updating the doc in time. the updated doc is coming soon.

[2021-03-18 02:19] skeeey commented on #22
The crd problem should be fixed, close this

[2021-03-18 02:19] #22 closed

[2021-03-18 02:21] skeeey commented on #28
The doc has been updated, if there is any problems, please reopen this

[2021-03-18 02:21] #28 closed

[2021-06-29 01:02] SteveMattar opened #78 "Submariner changes before ACM 2.3 release"
This issue is for tracking the changes for **submariner v.9** before releasing **ACM 2.3**

- [x] Update the default channel to `alpha-0.8` and `alpha-0.9` respectively
- [x] Update the submariner CRDs  (get synced with submariner-io projects on branch release-0.9).
- [x] Update the `version` field in Submariner CR to `v0.9` currently it is set to `v0.8`

[2021-06-29 08:25] nyechiel commented on #78
@skeeey just making sure you have seen it. Let us know if you have any questions

[2021-06-29 08:46] skeeey commented on #78
@laisongls FYI and @SteveMattar which `iib` include these changes, we need @laisongls help us to verify this

[2021-06-29 09:12] laisongls commented on #78
@SteveMattar now acm is in final regression testing stage, thess changes are very critical for us. can you provide the new iib asap?

[2021-06-29 09:19] SteveMattar commented on #78
[code]

[2021-06-30 03:50] laisongls commented on #78
@SteveMattar @skeeey I've passed the tests with the new submariner crd

[2021-06-30 05:11] nyechiel commented on #78
Thanks for the update, @laisongls. @SteveMattar @skeeey anything else we need to do here or can we close this issue?

[2021-06-30 05:48] #78 closed

[2021-07-13 11:51] raffaelespazzoli opened #82 "Add support for directly reachable nodes (disable NAT)"
in some cases nodes are directly reachable via their private IPs.
In this case it should be possible to configure disable nat: `natEnabled: false`.

[2021-07-13 11:58] raffaelespazzoli opened #83 "Add support for VPC peering"
when deploying submariner to a set of clusters deployed on the same cloud provider, it makes sense to Peer the VPCs of the clusters. This provides both an optimized and secure network path.
It would be nice to have the submariner add on taking care of the peering. Here is how it can be doine in AWS:

[code]

here is an example with google cloud:

[code]
when using VPC peering there is no need to u

[2021-07-13 12:02] raffaelespazzoli opened #84 "add support for pre-existing gateway nodes"
sometime people will want to have full control on how to create the gateway node. If deploying via Hive, it's very easy to declaratively add a new machineset with full control on the machine characteristics, for example. It should be possible to specify that the gateway not should not be created and perhaps specify a node selector to select the gatewya nodes. If the selector if fixed (I believe it

[2021-07-13 17:42] raffaelespazzoli commented on #83
I think the new submariner supports an un-encrypted cable wire protocol. not sure how they call it.

[2021-08-03 14:15] skitt opened #91 "Migrate to open-cluster-management.io dependencies"
In preparation for the move to open-cluster-management.io, we need to switch open-cluster-management dependencies to their open-cluster-management.io equivalents.

[2021-08-10 08:44] #91 closed

[2021-08-11 08:41] aswinsuryan opened #96 "Support VXLAN connectivity"
What would you like to be added:
Support VXLAN connectivity

Why is this needed:
This would help to use vxlan cable driver in ACM deployments

[2021-08-11 08:46] sridhargaddam opened #97 "Support Load-Balancer mode when deploying Submariner"
**What would you like to be added:**
Submariner supports Loadbalancer mode for supporting tunnels. It can be used instead of creating external-ips and associating them to the instances.

**Why is this needed:**
This will ease the deployment process.

[2021-08-12 12:38] skitt opened #101 "Use cloud-prepare for cloud setup"
All the cloud-specific setup in the addon is also implemented in Submariner’s cloud-prepare; using the latter instead would simplify development.

[2021-08-12 15:06] vthapar opened #102 "Support NAT Traversal"
* What would you like to be added:
Support enable/disable [NAT Traversal ](https://submariner.io/operations/nat-traversal/) feature of Submariner

* Why is this needed:
NAT Traversal is always enabled. Submariner supports option to disable but this option is missing in submariner-addon.

[2021-08-18 10:35] nyechiel commented on #83
Starting with Submariner 0.10, there is a VXLAN cable driver for users who want a non-encrypted option. This PR is for exposing this option on the ACM side: https://github.com/open-cluster-management/submariner-addon/pull/100 /cc @aswinsuryan

[2021-08-18 14:08] nyechiel commented on #102
@vthapar the IPsec NATT is already customizable AFAICT. We are only missing the option to disable NAT as tracked here https://github.com/open-cluster-management/submariner-addon/issues/82 - unless I am missing anything?

[2021-08-18 14:29] vthapar commented on #102
@nyechiel Yes, I raised the issue before investigating what parts of NATT are supported and what not. @sridhargaddam also mentioned that we may need to support option to set the natt-discovery-port, looking into that too.

[2021-08-18 14:40] nyechiel commented on #96
/assign @aswinsuryan

[2021-08-18 15:21] nyechiel commented on #101
/assign @skitt

[2021-08-20 08:23] mangelajo opened #109 "Switch m5n.large to c5d.large as default image for submariner gateways in AWS"
in AWS if we move from m5n.large to c5d.large instances, the GW to GW bandwidth jumps from 1Gbps to 2.3Gbps :rocket:
using IPSEC.

This is because we get better CPU (cascadelake architecture) but worse network interface, and since we know the bottleneck is the CPU for both IPsec and wireguard this performs better.

[2021-08-24 08:12] skitt commented on #101
This requires some fixes in Submariner:
* https://github.com/submariner-io/admiral/pull/271
* and the same in cloud-prepare (forthcoming)

[2021-08-24 14:26] #96 closed

[2021-08-26 15:09] aswinsuryan opened #115 "Use Submariner cloudprepare to configure GCP"
Use  the submariner cloud-prepare API's to make the OCP cluster deployed GCP ready for Submariner deployments.

[2021-08-31 15:44] skitt opened #121 "Use cloud-prepare for cloud teardown"
This will require implementing cloud teardown in cloud-prepare first.

[2021-09-01 11:55] Jaanki opened #123 "Move resources creation logic to submariner-operator"
submariner-addon  should not bother about the details of the resources Submariner needs. It should just be able to CRUD resources when needed. The how and why of the resources should be handled by submariner-operator. Offload resources creation functionality to submariner-operator. Below resource creation will be moved

- [ ] Broker namespace
- [ ] submariner namespace
- [ ] submariner CRDs
- [ ]

[2021-09-01 11:56] Jaanki commented on #123
/assign @Jaanki

[2021-09-01 13:17] Jaanki opened #124 "Remove `strongswan` option from ACM console"
Now that submariner does not support `strongswan` cable driver, remove it from the options available on ACM console.

[2021-09-03 10:04] Jaanki opened #127 "Add lifecycle plugin"
The plugin closes, reopens, flags and/or unflags an issue or PR as frozen/stale/rotten.

After 90 days with no activity, an issue is automatically labeled as `lifecycle/stale`. The issue will be automatically closed if the lifecycle is not manually reverted using the `/remove-lifecycle stale` command.

An issue with `lifecycle/frozen` label will not become stale after 90 days of inactivity. A user

[2021-09-03 10:08] Jaanki commented on #127
PR: https://github.com/openshift/release/pull/21577

[2021-09-03 10:12] Jaanki commented on #127
Ohk...Looks like the plugin is already enabled https://github.com/openshift/release/blob/master/core-services/prow/02_config/open-cluster-management/_pluginconfig.yaml

[2021-09-03 10:12] #127 closed

[2021-09-13 09:17] sridhargaddam commented on #84
Necessary support is added in cloud-prepare for GCP clusters via the following PR - https://github.com/submariner-io/cloud-prepare/issues/97
It needs to be consumed from the submariner add-on - this is currently in progress.

[2021-09-13 16:15] sridhargaddam opened #131 "Perform auto uninstall-add-on when cluster is deleted"
When a cluster that is part of the clusterset is deleted without invoking "Uninstall add-on", we should internally cleanup the necessary endpoints from the hub cluster broker namespace. Otherwise, stale endpoints show up on the member clusters.

[2021-09-13 16:17] sridhargaddam opened #132 "Cluster Set --> Submariner add-ons --> view documentation shows 404 error"
Link to Submariner add-on managed cluster documentation is broken
Cluster Set --> Submariner add-ons --> view documentation results in 404 error

[2021-09-14 09:28] Jaanki commented on #124
/assign @Jaanki

[2021-09-14 09:28] Jaanki commented on #132
/assign @Jaanki

[2021-09-14 09:34] Jaanki commented on #132
/project 1

[2021-09-14 09:36] Jaanki commented on #132
/project https://github.com/orgs/open-cluster-management/projects/1

[2021-09-15 11:07] nyechiel commented on #109
/assign @sridhargaddam

[2021-09-15 11:08] nyechiel commented on #109
@sridhargaddam the core bits are merged, but I think we still need to update all relevant docs (both in submariner-website and on ACM side)?

[2021-09-16 14:09] Jaanki commented on #124
https://github.com/open-cluster-management/console/pull/842

[2021-09-16 14:09] Jaanki commented on #132
https://github.com/open-cluster-management/console/pull/842

[2021-09-20 10:30] sridhargaddam commented on #109
The following PRs handle the documentation changes
ACM docs: https://github.com/open-cluster-management/rhacm-docs/pull/2693
Submariner website: https://github.com/submariner-io/submariner-website/pull/584

[2021-09-21 12:18] skitt opened #139 "Settings should be carried over from one cluster to another"
When installing the addon on multiple clusters, credentials and instance types etc. need to be specified for each cluster in succession. It would be useful if one cluster’s information could be carried over to the next, pre-populating the entries (but allowing them to be overriden).

[2021-09-22 15:24] skitt commented on #101
Done for AWS: https://github.com/open-cluster-management/submariner-addon/pull/142

[2021-09-27 09:52] skitt commented on #101
Done for GCP: https://github.com/open-cluster-management/submariner-addon/pull/137

[2021-09-27 09:52] #101 closed

[2021-09-30 10:19] #124 closed

[2021-10-01 10:12] Jaanki commented on #132
Depends on https://github.com/open-cluster-management/console/pull/891

[2021-10-01 13:15] Jaanki commented on #132
Issue to track fix to 2.3 https://github.com/open-cluster-management/backlog/issues/16741

[2021-10-04 15:30] skitt opened #167 "PRs should be merged without squashing"
Currently, PRs are squashed and merged, which renders moot any work done to split them up into multiple sensible commits. They should instead be merged without squashing.

[2021-10-04 19:12] tpantelis commented on #109
/assign tpantelis

[2021-10-05 16:15] dfarrell07 commented on #167
This will be fixed by https://github.com/openshift/release/pull/22513.

[2021-10-06 13:13] dfarrell07 commented on #167
I can't close this (strangely), but I think this is done.

[2021-10-12 12:06] sridhargaddam opened #189 "Updating the images in ClusterServiceVersion is not restarting the pods"
Following the [readme](https://github.com/open-cluster-management/submariner-addon#test-with-acm), I modified the submariner-addon image by updating the ClusterServiceVersion. However, the submariner-addon pods in the open-cluster-management namespaces are not restarted and the corresponding deployment is not updated as well.

Manually updating the submariner-addon deployment in open-cluster-manag

[2021-10-13 03:31] nyechiel commented on #102
@sridhargaddam @vthapar what's the status of this one?

[2021-10-20 08:19] #132 closed

[2021-10-20 08:43] #115 closed, assigned to nobody

[2021-11-02 12:02] tpantelis opened #218 "Move AWS cloud preparation to the spoke"
GCP cloud preparation is done in the spoke so, for consistency, simplicity, and maintainability, we should perform all cloud preparation in the spoke. This would make the controllers platform agnostic and put all platform decision logic in the cloud provider factory.

[2021-11-23 13:20] Jaanki opened #221 "Allow custom name for `submarinerConfig`"
Currently submarinerConfig needs to be named `submariner`. Allow for a custom name to be specified. Also make submarinerConfig controller log more verbose.

[2021-11-26 06:52] SataQiu opened #223 "[Question] How to enable globalnet feature when there are overlapping CIDRs in connecting clusters"
How to enable [globalnet](https://submariner.io/getting-started/architecture/globalnet/) feature when there are overlapping CIDRs in connecting clusters?

Is there an option to control this feature?
Where can I find more information about configuring `globalnet` in `submariner-addon`?

Looking forward to reply!

[2021-11-26 08:40] skitt commented on #223
/cc @vthapar @sridhargaddam

[2021-11-26 08:53] sridhargaddam commented on #223
If you are using `subctl` to installing Submariner, you can enable `globlanet` by simply specifying the flag `--globalnet` while deploying the broker. For example

[code]

Currently `globanet` is not supported with submariner-addon and we are actively working on adding this feature in the upcoming release. The following EPIC is used to track the feature support - https://github.com/submariner-io/e

[2021-12-01 15:31] #223 closed

[2021-12-07 14:23] cmwylie19 commented on #218
initial investigation:
- Are there any issues moving this (AWS) to the spoke?

[2022-01-20 12:19] #102 closed

[2022-01-20 12:27] nyechiel commented on #84
@aswinsuryan this is related to our discussion on this topic. We agreed that with the exception of AWS - we need to support both dedicated and existing/non-dedicated nodes (with default being non-dedicated). There is also this related issue on the console side: https://github.com/stolostron/backlog/issues/19296

Can you own this for 2.5?

[2022-01-20 12:30] nyechiel commented on #83
See also https://github.com/submariner-io/enhancements/issues/64

[2022-01-20 12:31] nyechiel commented on #82
@vthapar @sridhargaddam was this done already in the addon/UI?

[2022-01-20 12:52] sridhargaddam commented on #82
Yes @nyechiel the UI now supports Enable/Disable NAT.
On a side note, with the auto-nat discovery now working fine, this flag is less relevant now.

[2022-01-20 13:00] nyechiel commented on #82
Yes, that's what I was thinking about. Thanks for confirming - moving to Done.

[2022-01-20 13:00] #82 closed

[2022-01-20 19:23] aswinsuryan commented on #84
Yes I can, for the supported Clouds, GCP , RHOS and Azure(if can be supported there)

[2022-01-24 10:31] sridhargaddam opened #258 "Missing ClusterRole for clustermanagementaddons"
In submariner-addon Pod the following errors are noticed.

[code]

[2022-01-25 14:38] dfarrell07 commented on #83
https://github.com/submariner-io/enhancements/issues/64

[2022-01-25 14:40] dfarrell07 commented on #83
https://github.com/submariner-io/submariner-operator/pull/1794

[2022-01-25 14:42] dfarrell07 commented on #97
/assign @aswinsuryan

[2022-01-25 14:44] dfarrell07 commented on #121
This is done

[2022-01-25 14:44] #121 closed

[2022-01-25 18:38] nyechiel commented on #97
This is lower priority comparing to other 2.5 deliverables. Moving to the backlog for now.

[2022-02-01 05:24] vthapar opened #265 "Add SubmarinerDiagnose CRD to allow UI to run diagnose"
Refer https://github.com/submariner-io/enhancements/pull/60 for details

[2022-02-01 05:30] vthapar opened #266 "Add SubmarinerDiagnose controller to run diagnose Job"
Add SubmarinerDiagnose controller in Addon which will look for SubmarinerDiagnose CR creation on hub, run SubmarinerDiagnose Job on managed clusters and then return status once Job is done.

Depends On: #265
Refer https://github.com/submariner-io/enhancements/pull/60 for details

[2022-02-01 10:32] skitt opened #267 "Updates to Submariner should be tracked"
Ideally, we should have a GHA which periodically checks for Submariner releases, and creates PRs to update the corresponding branches in the addon.

[2022-02-01 10:41] skitt commented on #267
dependabot should be able to do this...

[2022-02-07 08:43] manosnoam opened #270 "Add InstallPlan variable to SubmarinerConfig"
In order to pin Submariner operator version installed, to prevent auto update with its default Subscription:
https://github.com/stolostron/submariner-addon/blob/e9fb85939918d4b1e52d007e192827a05c061c87/pkg/hub/submarineragent/manifests/operator/submariner-operator-subscription.yaml#L10

Please add installPlanApproval variable to SubmarinerConfig, so it can be set to "Manual".

[2022-02-07 18:30] sridhargaddam opened #272 "Use Shipyard to build and deploy KIND clusters"
Shipyard provides common tooling like Makefiles, scripts etc and to deploy KIND clusters which can be used for development and e2e testing. Currently, submariner-addon repo uses its own files for building images and to deploying clusters. Adding Shipyard to submariner-addon allows us to have a consistent experience with other Submariner repos.

[2022-02-08 08:13] skitt commented on #272
The build infrastructure used for Stolostron can’t run separate containers; this has been tried before, see https://github.com/stolostron/submariner-addon/pull/93

[2022-02-08 15:51] dfarrell07 commented on #272
Yeah this was basically the first thing we tried when we started working on the addon. :(

[2022-02-10 17:30] skitt opened #281 "Upgrade to controller-runtime 0.11.0 or later"
We need to upgrade our controller-runtime dependency.

Depends on https://github.com/kubernetes-sigs/controller-runtime/issues/1799

[2022-02-14 08:15] skitt commented on #270
I think that’s the point of this feature request — to add some way of configuring `installPlanApproval` in `SubmarinerConfig`.

[2022-02-14 17:00] nyechiel commented on #270
@skitt IIUC, this would also need to be backported to release-2.4 once merged?

@sridhargaddam @tpantelis can you review please? This is currently blocking QE downstream.

[2022-02-15 08:29] skitt commented on #270
/cherrypick release-2.4

[2022-02-15 08:33] skitt commented on #270
Yes, I’ve queued a cherry-pick.

[2022-02-15 08:52] #270 closed

[2022-02-15 15:37] skitt commented on #267
dependabot currently fails on the addon:

[2022-02-15 18:27] sridhargaddam opened #285 "Addon changes to support globalnet configuration"
As part of supporting Globalnet in ACM, some of the changes related to the UI/Console will be handled via the following issue - https://github.com/stolostron/backlog/issues/19293

This issue is to track the associated changes in the submariner-addon component.

[2022-02-16 08:10] #265 closed

[2022-02-17 17:02] nyechiel commented on #272
@sridhargaddam it seems like this one needs to be closed?

[2022-02-23 16:40] skitt opened #293 "We need a job to verify that the catalog is kept up-to-date"
Currently, nothing checks that the catalog manifests are kept up-to-date, leading to discrepancies between developers’ expectations and what actually ends up on clusters (see #291 and #292).

This should be enforce by CI to make sure that the catalog is updated whenever anything feeding it is changed.

[2022-02-24 05:57] nyechiel commented on #123
@Jaanki I assume this is not planned for 2.5 anymore?

[2022-02-24 09:49] skitt opened #297 "Once Submariner 0.12 is released, ensure the addon pulls it in"
Bump the dependencies and the catalog.

[2022-02-24 10:01] sridhargaddam commented on #285
Necessary changes are merged

[2022-02-24 10:01] #285 closed

[2022-03-03 07:25] vthapar opened #302 "Run make demo as part of CI"
`make demo` is used for dev testing changes locally in a kind setup but it is not run as part of CI/CD. This makes it difficult to catch bugs that break local kinda deployments.

[2022-03-03 08:12] skitt opened #304 "Upgrade the addon to Submariner 0.12.0-rc0"
This involves a number of changes.

- [x] Upgrade the dependencies in `go.mod` and deal with the fallout.
- [x] Ensure that 0.12.0-rc0 images are available in the appropriate repository.
- [x] Change the default deployed version in `pkg/hub/submarineragent/manifests/operator/submariner.io-submariners-cr.yaml`.
- [x] Change the deployed version in `scripts/deploy.sh`.

[2022-03-04 13:52] Jaanki commented on #304
Updated deploy script to use subm v0.12.0-rc0 in https://github.com/stolostron/submariner-addon/pull/307

[2022-03-04 14:01] Jaanki commented on #304
0.12.0-rc0 images are available in quay.io/submariner as well.

[2022-03-04 14:33] #304 closed

[2022-03-08 15:55] nyechiel commented on #131
@sridhargaddam just making sure that this is still in your radar for 2.5. Probably the last remaining item in the uninstall work.

[2022-03-08 16:07] sridhargaddam commented on #131
@tpantelis did you get a chance to look at this use-case?

[2022-03-08 17:17] tpantelis commented on #131
I haven't specifically but, from the summary, it seems like this should be part of the broader ACM product, ie if a `ManagedCluster` is being deleted, it should ensure all associated `ManageClusterAddon`s etc are properly deleted/cleaned up rather than putting this responsibility on each addon.

[2022-03-09 08:55] sridhargaddam opened #309 "Globalnet metrics not shown up with OCP Deployments."
After installing Submariner addon on a managed cluster, when I look at OCP metrics dashboard, I dont find any of the Globalnet metrics in the list.

[2022-03-09 09:07] nyechiel commented on #309
/assign @sridhargaddam

[2022-03-09 09:08] sridhargaddam commented on #309
Upon debugging the issue, the problem seems to be related to firewall ports not being configured on the underlay. Currently as part of cloud-prepare we are only opening TCP/8080 metrics port which is for submariner gateway pod. When I manually opened TCP/8081 (which is where Globalnet metrics are exposed), I can see the metrics in OCP metrics dashboard.

![Screenshot from 2022-03-09 13-52-30](http

[2022-03-10 07:54] sridhargaddam commented on #131
Thanks @tpantelis. @nyechiel Ideally the user is expected to uninstall the add-on which will trigger the Submariner un-installation properly. So, this issue is more like an edge case which still needs to be handled. But, it requires proper design and implementation. IMHO in the given timeline, it would be hard to achieve it for 2.5

[2022-03-10 07:55] nyechiel commented on #131
Thanks. Is there anything else that needs to be done for the basic uninstall flow from ACM? If so, do we have it tracked separately?

[2022-03-10 09:18] sridhargaddam commented on #131
I did some basic testing from ACM UI and the regular uninstall flow was working fine. I'm not aware of anything else that needs to be handled. CC: @tpantelis

[2022-03-10 13:49] nyechiel commented on #84
@sridhargaddam @aswinsuryan can you please add a comment explaining why and close it? (tl;dr available with `subctl`, not with ACM)

[2022-03-10 13:53] nyechiel commented on #297
/assign @skitt

[2022-03-14 13:47] skitt opened #318 "Descope the addon"
## Epic Description

The Submariner addon currently has wide-ranging privileges. It doesn’t need to be able to access anything outside the namespaces it manages, so this should be reduced. See https://hackmd.io/wVfLKpxtSN-P0n07Kx4J8Q for background.

This might not be appropriate if the addon needs to be able to manage namespaces which aren’t known ahead of time. If so, the justification for its c

[2022-03-15 12:21] sridhargaddam opened #321 "Create a ClusterRole to allow brokers.submariner.io object"
Starting with ACM 2.5, a user who is installing Submariner Addon on the ManagedCluster should have permissions to create/update/read `brokers.submariner.io` object in the ManagedClusterSet broker namespace. This object needs to be created whether Globalnet is enabled or not.

A clusterAdmin has necessary privileges to create this object, but for a non-ClusterAdmin, an explicit role has to be assig

[2022-03-16 16:04] #309 closed

[2022-03-21 08:48] skitt opened #326 "Document the ClusterRole privileges in the threat model"
#325, if/when merged, will grant the Submariner addon permissions to create, delete and get ClusterRoles, which should be justified in the threat model.

[2022-03-22 08:31] skitt commented on #267
dependabot has submitted PRs for all the Submariner updates leading up to 0.12, for example #330, so this seems to be taken care of.

[2022-03-22 08:31] #267 closed

[2022-03-22 13:20] skitt opened #332 "Finish upgrading to Submariner 0.12"
The code dependencies have been handled, but we still need to bump the dependency:

- [ ] in `pkg/hub/submarineragent/manifests/operator/submariner.io-submariners-cr.yaml` (the repository also needs to be changed to `registry.redhat.io/rhacm2`)
- [ ] `submver` in `scripts/deploy.sh`

[2022-03-22 18:32] MaxBab commented on #332
@skitt
For some reason, the issue was not closed after the patch merged.
Could be closed now.

[2022-03-22 18:37] nyechiel commented on #332
/close

[2022-03-22 18:37] #332 closed, assigned to nobody

[2022-03-28 08:41] #321 closed

[2022-04-07 07:24] nyechiel commented on #326
@skitt I think this one was done as well?

[2022-04-07 07:32] skitt commented on #326
The justification specifically for #325 hasn’t been added to the threat model, I’ll take care of it.

[2022-04-14 15:41] #326 closed

[2022-05-10 13:40] skitt opened #363 "Our CI validates PRs which break ACM"
The latest instance is #358, which passed our tests but broke ACM starting with https://github.com/stolostron/release/actions/runs/2293129680

[2022-05-10 13:41] skitt commented on #363
From https://coreos.slack.com/archives/CVAB9H3DE/p1652190026276659?thread_ts=1652132137.235479&cid=CVAB9H3DE:

[2022-05-10 16:38] skitt commented on #363
Fixed by https://github.com/stolostron/release/pull/353.

[2022-05-10 16:38] #363 closed

[2022-06-02 17:57] aswinsuryan opened #382 "Add support for Azure cloud prepare"
Add support for Azure cloud prepare in submariner addon,

*By opening the required port for submariner
*By creating a dedicated g/w node for submariner.

[2022-06-08 18:34] sridhargaddam opened #386 "cloud prepare for AWS is invoked periodically"
Currently, looking at the submariner-addon code, it looks like we are [periodically invoking cloud-prepare for AWS](https://github.com/stolostron/submariner-addon/blob/3a399d447a1e086c53cd2023462e81a87536f8cb/pkg/hub/submarineragent/controller.go#L365) clusters eventhough the cloud is already prepared. This is not causing an issue because the cloud prepare apis are idempotent. However, this can be

[2022-06-09 07:34] skitt opened #387 "The operator namespace needs new security-related labels"
See https://github.com/submariner-io/subctl/issues/27 for details.

[2022-06-10 14:44] vthapar opened #388 "Add OVN support"
When using OVNKubernetes as CNI we don't need to open all the vxlan ports in the cloud. So only open the vxlan ports required based on which CNI is used during cloud prepare step.

1. Detect if OVNKubernetes is the CNI
2. If yes, open the minimal set of ports.

[2022-06-13 13:49] vthapar commented on #388
/assign @vthapar

[2022-06-15 08:57] mkolesnik commented on #386
This seems like the behavior I observed in https://bugzilla.redhat.com/show_bug.cgi?id=2093990#c6

Though it seems it causes gateway nodes to be destroyed and redeployed each time.

[2022-06-15 16:22] skitt opened #395 "CRDs and CSVs should be checked during the build"
`make verify-scripts` should check that regenerating the CRDs (`make update-crds`) and the CSV (`make update-csv`) doesn’t result in any change.

CRDs are already supposed to be verified using `hack/verify-crds.sh`, but it doesn’t compare the content of the CRDs with their theoretical content. A similar script should be written for the CSV.

[2022-06-15 16:36] dfarrell07 commented on #395
I can work on this, but I don't know if I can get to it this (short) week.

[2022-06-15 18:48] nyechiel commented on #395
/assign @dfarrell07

[2022-06-21 13:04] nyechiel commented on #281
@skitt I am reviewing addon issues and came across this one. Is it still relevant?

[2022-06-22 09:06] vthapar opened #405 "gcp: Gateway nodes not labelled due to resource limits"
Installing OCP 4.10 with ACM 2.5.1 on GCP failed on one of the clusters with error Gateway Nodes not labelled.

[code]
UPDATE: This was due to resource quote limit issues, but it was not clear enough from logs. There is nothing to fix but improve the logging and error message. Instead of telling user "gw not labelled" it would be better to give error message "Failed to create gw nodes" alongwith r

[2022-06-22 09:08] vthapar commented on #405
[testday-0.13.0-gcp-4.10-acm.zip](https://github.com/stolostron/submariner-addon/files/8956171/testday-0.13.0-gcp-4.10-acm.zip)

[2022-06-22 14:12] skitt commented on #281
Yes, we’re still on 0.9.1.

[2022-06-22 15:47] #281 closed, assigned to skitt

[2022-06-22 18:13] sridhargaddam commented on #84
From an upstream POV, we support both dedicated as well as non-dedicated gateway nodes (i.e., use one of the existing nodes which already has the required label and if there is none, cloud prepare will label one/more of the worker nodes as GW nodes). However, in ACM we are only supporting a dedicated gateway node as we wanted to avoid making out-of-band changes to the underlying infra since there

[2022-06-22 18:14] sridhargaddam commented on #84
@nyechiel I do not see an option to close this issue.

[2022-06-22 18:28] nyechiel commented on #84
/close

[2022-06-23 08:22] nyechiel commented on #405
This seems to be a resource quota issue and not an actual bug. The question is can we improve the logs to give us a better hint? @aswinsuryan any thoughts on this?

[2022-06-23 12:40] manosnoam commented on #405
See slack thread about GCP quota limit:
https://coreos.slack.com/archives/CSZLMKPS5/p1655974790531529

[2022-06-25 01:25] aswinsuryan commented on #405
@nyechiel we need to check the machine set status to see if we can provide a more relevant reason.

[2022-06-26 11:49] nyechiel commented on #405
@vthapar @aswinsuryan this sound like a nice to have enhancement to me. I am not sure if we have bandwitdh to handle this for 2.6, so moving to the backlog for now. Do you agree?

[2022-06-26 11:51] nyechiel commented on #405
Also @vthapar - it seems like I can't edit the title of this issue. Can you please change it to something more generic?

[2022-06-27 17:32] aswinsuryan commented on #405
yes this is more a enhancement and this needs to be done for all the cloud providers when we are doing it.

[2022-07-03 08:36] mkolesnik commented on #386
/assign @mkolesnik

[2022-07-06 02:49] aswinsuryan commented on #382
This is tracked here https://github.com/stolostron/backlog/issues/22871

[2022-07-06 02:49] #382 closed

[2022-07-08 10:29] sridhargaddam commented on #258
Closing it as the issue is now fixed.

[2022-07-08 10:29] #258 closed

[2022-07-13 06:18] nyechiel commented on #387
@skitt is this still relevant? should we address for 2.6?

[2022-07-13 16:36] skitt commented on #387
This isn’t something that the addon can take care of; the deployment namespace is specified in the `ManagedClusterAddOn` object and namespace creation is presumably handled by the controller watching those objects. I’m looking into the status there.

[2022-07-21 14:46] skitt opened #450 "Drop vendoring"
The addon repository stores its `vendor` directory, but with `go.sum` and caching this doesn’t present any benefits, and it causes issues in some circumstances (downstream caching with Cachito for example).

We should remove the `vendor` directory and change the build infrastructure to suit.

[2022-07-21 16:42] dfarrell07 commented on #450
See discussion: https://coreos.slack.com/archives/C01TNQYSZQQ/p1658282019933879

[2022-07-22 05:43] vthapar opened #452 "[2.6] Unable to use custom submariner images"
When using OCP 4.10+ACM 2.6, even when modifying submarinerconfig to use a different submariner image, it doesn't apply correclty. Changes get applied to `submariner` in operator namespace but deployments/daemonsets continue to use old image.

**SubmarinerConfigs**
[code]

**Submariner**
[code]

**Pod Status**
[code]

**GatewayDaemonSet**
[code]

**RouteAgentDaemonSet**
[code]

Only lighthousecore

[2022-07-26 09:07] skitt opened #455 "pkg/hub/submarineragent UTs fail in some cases"
Since #451 was merged, we’re seeing failures of the `pkg/hub/submarineragent` UT, for example on #454 — the failures also happen on `main` so they’re not related to the changes in #454.

To reproduce, force a test run with no cache; this is highly likely to fail:

[code]

The likelihood of failure reduces if the tests are constrained to a single CPU:

[code]

It’s difficult to determine the actual

[2022-07-26 13:53] mkolesnik commented on #455
I've been bashing my head on this for half a day, but genereally it's some kind of race condition.

The main culprit is this removal [1] which I restored with a note in #456

[1] https://github.com/stolostron/submariner-addon/pull/451/files#diff-04651272ceeb407cc687aced0289d1503d9c3ca154fff47d7a0b4af8dee12ddcL302

[2022-07-26 13:58] mkolesnik commented on #455
Yes basically it's that, and it's shit to debug because the panic aborts everything in the middle of the run, making it quite impossible to know which exact test failed.

It can also be easily recreated by running tests slower, e.g. with `-v` flag:
[code]

[2022-07-26 14:12] tpantelis commented on #455
We need GingkoRecover as is done in other tests. With that added (locally), it fails in this test case:

[code]

[2022-07-26 15:06] tpantelis commented on #455
So the problem is actually with the prior test:

[code]

The test doesn't set the platform so `isSpokePrepared`:

[code]

returns false so the controller tries to invoke `PrepareSubmarinerClusterEnv` but the test hasn't set up the expectation. The failure can happen sporadically if it runs long enough for a tangential `SubmarinerConfig` update to be processed after the finalizer is added. This was

[2022-07-26 16:19] #455 closed

[2022-07-27 15:05] nyechiel commented on #388
@vthapar @skitt are we planning to do anything here anytime soon? should we close this one or move back to the backlog?

[2022-07-28 09:32] vthapar opened #463 "Submariner fails to deploy on OCP 4.11.0+"
SubmarinerAddon Agent on hub cluster fails to create brokerInfo object with following error:

[code]
Without brokerInfo object, submariner doesn't get deployed. This is issue with OCP 4.11.0+ because of change in how K8s 1.24+ creates Secrets for SAs.

[2022-07-28 09:33] skitt commented on #463
/assign @vthapar

[2022-07-28 12:11] #463 closed

[2022-08-09 10:49] nyechiel commented on #97
/assign @sridhargaddam

[2022-08-10 07:34] nyechiel commented on #97
This is done with https://github.com/stolostron/submariner-addon/pull/470.

[2022-08-10 07:34] nyechiel commented on #97
/close

[2022-08-10 07:40] #97 closed

[2022-08-11 11:55] skitt opened #472 "Define resource limits in the CSV"
As requested in https://issues.redhat.com/browse/MTSRE-640, we should define resource limits (for memory; see also https://home.robusta.dev/blog/stop-using-cpu-limits/). Once a sensible memory limit is determined, it should be specified in `deploy/config/operator/operator.yaml` and the CSV updated (`make update-csv`).

[2022-08-16 09:21] vthapar commented on #452
Faced same issue on ACM 2.5.2 OCP 4.10.20.

[2022-08-19 07:07] #452 closed

[2022-08-23 12:44] skitt opened #475 "Allow the operator to be overridden"
Currently, the addon deploys the operator using an OLM catalog entry. This makes it difficult to deploy a custom operator for testing purposes.

We should add an entry in `SubmarinerConfig` to allow the operator image to be specified. When that’s populated, the addon would _not_ deploy using the catalog, but deploy the operator directly instead. It will also need to take care of all the surroundin

[2022-09-07 10:16] #123 closed

[2022-09-07 10:54] Jaanki opened #481 "Update subm-operator to accommodate changes done after operator-sdk upgrade"
operator-sdk has been upgraded to `v1.23.0` for submariner-operator. This entails few changes in the [submariner-operator repo](https://github.com/submariner-io/submariner-operator). Accordingly make changes in the addon as well like:

1. submariner apis are now located at `api/v1alpha1` and not `api/submariner/v1alpha1`
2. submariner operator no longer provides a `client/clientset`. Remove its us

[2022-09-07 11:06] Jaanki commented on #481
/assign @Jaanki

[2022-09-13 13:56] vthapar opened #488 "[2.7] Don't open metrics port"
Submariner 0.14.0 doesn't require metrics port to be opened on the host to allow access to metrics. Do not open ports `8080` and `8081` when deploying submariner addon.

Refer https://github.com/submariner-io/submariner/issues/1944

[2022-09-13 13:57] vthapar opened #489 "[2.7] Track status of metrics-proxy daemonset"
Submariner 0.14.0 added a new `Daemonset`, `submariner-metrics-proxy` which is used to allow access to submariner metrices for gateway and globalnet. Addon should track status of this Daemonset and report errors if any.

Refer https://github.com/submariner-io/submariner/issues/1944

[2022-09-14 12:02] Jaanki commented on #450
/assign @Jaanki

[2022-09-14 12:43] dfarrell07 opened #490 "Publish images using ocm-ci-image-mirror Prow workflow"
For robustness of image publishing, we should switch to the new ocm-ci-image-mirror Prow workflow.

Our current use of pull:

https://github.com/openshift/release/blob/master/ci-operator/config/stolostron/submariner-addon/stolostron-submariner-addon-release-2.6.yaml#L22

Example of push:

https://github.com/openshift/release/blob/master/ci-operator/config/stolostron/search-v2-api/stolostron-search

[2022-09-14 12:44] dfarrell07 commented on #490
I can't assign myself?

[2022-09-14 12:47] nyechiel commented on #490
/assign @dfarrell07

[2022-09-15 09:27] nyechiel commented on #488
/assign @vthapar

[2022-09-15 09:28] nyechiel commented on #489
/assign @vthapar

[2022-09-15 09:31] nyechiel commented on #388
Based on 2.7 planning discussion this is nice to have. @vthapar to explore if we can get it done for 2.7

[2022-09-15 09:32] nyechiel commented on #475
/assign @vthapar

[2022-09-15 09:40] nyechiel commented on #83
/close

[2022-09-15 09:40] #83 closed

[2022-09-15 09:41] nyechiel commented on #405
/close

[2022-09-15 09:41] #405 closed

[2022-09-20 12:53] dfarrell07 commented on #266
Relates to https://github.com/stolostron/submariner-addon/pull/295

[2022-09-29 08:45] skitt commented on #472
@Jaanki for this one, we need to run Submariner on a full-blown ACM test setup, see what the memory usage is, and then add corresponding memory limits to the YAML file.

[2022-10-06 14:06] yboaron opened #509 "Addon recongnizes ROSA as AWS cluster and sets status to False for SubmarinerClusterEnvironmentPrepared"
- We created a ROSA cluster using ROSA cli
- Imported ROSA cluster to ACM using ROSA kubeconfig file
- Next step  we applied relevant SubmarineConfig CR (with loadBalancerEnabled as true) , check [1]
- At this point [2] error is reported on SubmarineConfig status

[1]
apiVersion: submarineraddon.open-cluster-management.io/v1alpha1
kind: SubmarinerConfig
metadata:
  name: submariner
  namespace: ro

[2022-10-12 19:50] #509 closed

[2022-10-16 12:42] sridhargaddam opened #516 "KIND deployment fails with the latest submariner-addon code-base"
When running "make clusters" in the latest submariner-addon code, its seen that kindnet CNI pods are in crashLoopBackoff error and cluster does not come up.

[code]

[code]

[2022-10-17 06:57] #516 closed

[2022-10-17 13:33] dfarrell07 commented on #395
This was implemented in https://github.com/stolostron/submariner-addon/pull/507 and https://github.com/stolostron/submariner-addon/pull/508, but probably @skitt should review to make sure they meet the requirements before I close this.

[2022-10-17 14:45] skitt commented on #395
This needs #521; see #519 and #520 for the verification PRs.

[2022-10-21 13:42] yboaron opened #525 "ROSA: submariner pods failed to run when SM is deployed using ACM"
We deployed SM in ROSA using ACM (with extra manual steps), some SM pods failed to run due to lack of permissions.

seems that privileged SCC permission do not apply to the ROSA case.

[2022-10-21 13:52] yboaron commented on #525
/cc @sridhargaddam @aswinsuryan

[2022-10-24 07:53] yboaron opened #529 "ARO: SubmarinerConfig status set to false with reason 'SubmarinerClusterEnvPreparationFailed'"
I imported ARO cluster to ACM using kubeconfig file and next step applied submariner-addon .
Deployment is stuck with [1] error in SubmarinerConfig status.

[1]
status:
  conditions:
  - lastTransitionTime: "2022-10-23T15:16:43Z"
    message: SubmarinerConfig was applied
    reason: SubmarinerConfigApplied
    status: "True"
    type: SubmarinerConfigApplied
  - lastTransitionTime: "2022-10-23T15:

[2022-10-24 08:01] #525 closed

[2022-10-24 15:49] #529 closed

[2022-10-30 13:01] nyechiel commented on #481
This should be done with https://github.com/stolostron/submariner-addon/pull/534

[2022-10-30 13:01] nyechiel commented on #481
/close

[2022-10-30 13:01] #481 closed

[2022-11-03 13:28] #475 closed

[2022-11-08 13:16] Jaanki commented on #450
PR: https://github.com/stolostron/submariner-addon/pull/515

[2022-11-09 14:50] nyechiel commented on #450
@Jaanki can this be moved to done?

[2022-11-09 14:54] #450 closed

[2022-11-15 11:53] vthapar opened #584 "[2.7] Restart submariner-addon pod on managed cluster after restore"
This is required for https://github.com/stolostron/backlog/issues/22005

When hub is backed up and restored on backup cluster, the submariner-adodn pods on managed clusters continue to use old hub. To make them use new hub, need restart submariner-addon pods.

[2022-11-15 11:53] vthapar commented on #584
/assign @vthapar

[2022-11-16 15:03] #584 closed

[2022-11-23 09:51] yboaron opened #600 "submariner-addon pod on open-cluster-management namespace reports panic error"
1. I deployed ACM upstream version (ACM 2.7 2.7.0-SNAPSHOT-2022-11-21-08-13-03) on OCP 4.11/AWS
2. Imported ROSA cluster
3. Install Submariner-addon on both AWS and ROSA  clusters
4. Checking submariner-addon pod logs on open-cluster-management namespace (on hub cluster ) I can see the following errors:

[code]

[2022-11-28 09:55] #600 closed

[2022-11-28 10:10] #488 closed

[2022-11-28 10:21] nyechiel commented on #472
@Jaanki are you looking at this?

[2022-11-28 12:25] Jaanki commented on #472
@nyechiel Yes.

[2022-11-28 12:28] nyechiel commented on #387
@skitt should we move this out from 2.7 at this point?

[2022-11-28 12:30] nyechiel commented on #218
@skitt @tpantelis while still doable, I wonder if it's not too late/risky for 2.7. Wdyt?

[2022-11-28 13:43] skitt commented on #387
Once we get an accurate test of ACM with the Submariner addon on OCP 4.12 we can decide whether this is still necessary or not. If it is, we’d need it for 4.12 support in 2.7; if not, we can drop it entirely.

[2022-11-28 13:46] skitt commented on #218
I agree, it’s too late for this. We can move it to 2.8.

[2022-11-28 13:51] tpantelis commented on #218
I think it's risky no matter what release it goes into 😄 It looks like code freeze is Dec 29th but with the holidays it's about 3 weeks including testing in a real AWS env (which I'd need some help/guidance with).

[2022-11-28 13:52] nyechiel commented on #218
Let's move out from 2.7 for now. We can revisit for 2.8.

[2022-11-29 09:42] #489 closed